{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Login" %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form method="post" class="sign-in-form">
                    {% csrf_token %}
                    <h2 class="title">{% trans "Sign in" %}</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" required name="username" placeholder="{% trans "Phone" %}"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" required name="password" placeholder="{% trans "Password" %}"/>
                    </div>
                    <input type="submit" value="{% translate "Login"%}" class="btn solid"/>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>{% trans "New here ?" %}</h3>
                    <p>{% trans "No account ? Create one !" %}</p>
                    <button class="btn transparent" id="sign-up-btn">
                        Sign up
                    </button>
                </div>
                <img src="" class="image imagesign-up" alt=""/>
            </div>
        </div>
    </div>
{% endblock %}