{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Login" %}{% endblock %}
{% block tailwind %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form method="post" class="sign-in-form">
                    {% csrf_token %}
                    <h2 class="title">{% trans "Sign in" %}</h2>
                    {% for error in form.non_field_errors %}
                        <p class="error-msg">{{ error }}</p>
                    {% endfor %}
                    {% for msg in messages %}
                        <p class="success-msg">{{ msg }}</p>
                        <script>
                            function redirect() {
                                window.location.href = "{% url "settings:index" %}";
                            }

                            setTimeout(redirect, 3000);
                        </script>
                    {% endfor %}
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        {{ form.username }}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        {{ form.password }}
                    </div>
                    <input type="submit" value="{% translate "Login" %}" class="btn solid"/>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>{% trans "New here ?" %}</h3>
                    <p>{% trans "No account ? Create one !" %}</p>
                    <a href="{% url "user:register" %}" class="btn transparent"
                       id="sign-up-btn">{% trans "Sign up" %}</a>
                </div>
                <img src="" class="image imagesign-up" alt=""/>
            </div>
        </div>
    </div>
{% endblock %}